<?xml version="1.0" encoding="UTF-8"?>
<suite name="SauceDemo Test Suite" parallel="methods" thread-count="3">
	<listeners>
		<listener
			class-name="com.saucedemo.automation.utils.ExtentReportManager" />
	</listeners>

	<test name="Login Tests">
		<classes>
			<class name="com.saucedemo.automation.tests.LoginTest" />
		</classes>
	</test>

	<test name="Product Tests">
		<classes>
			<class name="com.saucedemo.automation.tests.ProductTest" />
		</classes>
	</test>

	<test name="Cart Tests">
		<classes>
			<class name="com.saucedemo.automation.tests.CartTest" />
		</classes>
	</test>

</suite>